/* To be deleted after test complete; hr=white lines */
hr {
  color: white;
  position: relative;
  margin: 0;
}
.hr1 {
  top: 448px;
}
.hr2 {
  top: 454px;
}
.hr3 {
  top: 463px;
}
.hr4 {
  top: 486px;
}
.hr5 {
  top: 536px;
}
.hr6 {
  top: 440px;
}
.hr7 {
  top: 437px;
}
.animateButton {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.animateReset {
  position: absolute;
  bottom:0;
  right: 40px;
  z-index: 10;
}
/* next section to update
the bottom and right should match the last frame*** */
.canoeNext {
  width: 300px !important;
  height: 300px !important;
  position: absolute !important;
  z-index: 4;
  bottom: 20px !important;
  right: 140px !important;
}
.poleNext{
  height: 100px !important;
  width: 5px !important;
  background-color: black !important;
  float: left !important;
}
/*  keep up to date with the last canoe frame */
.flagNext{
  height:40px !important;
  width: 55px !important;
  background-color: white !important;
  border: 1px solid black !important;
  float: left !important;
  margin-bottom: 60px !important;
}
/* increment by +1 bottom and +7 for right */
.flagBoxNext{
  position: absolute !important;
  background-color: transparent !important;
  z-index: 5 !important;
  bottom: 169px !important;
  right: 247px !important;
}
/*************************************/
.picture{
  width: 100%;
  height: 100%;
}
.outerBox{
  width: 100%;
  height: 805px;
  background-color: #555555;
  clear: both;
}
.rewardBox{
  width: 1200px;
  height: 805px;
  background-image: url("../img/mountain.jpg");
  background-size: cover;
  position: relative;
  margin: 0 auto;
}
.testBox{
  height: 200px;
  width: 100%;
  clear: both;
}
.flagNumber{
  text-align: center;
  padding-top: 8px;
}
/* frame one flag/canoe placement <DONE> */
.canoe1{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;

}
.pole1{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag1{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox1{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 149px;
  right: 107px;
}
/* end of frame one */
/* beginning of frame two <DONE> */
.canoe2{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 1px;
  right: 7px;

}
.pole2{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag2{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox2{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 150px;
  right: 114px;
}
/* end of frame 2 */
/* beginning of frame 3 <DONE> */
.canoe3{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 2px;
  right: 14px;

}
.pole3{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag3{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox3{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 151px;
  right: 121px;
}
/*end of frame 3 pole and canoe*/
/* beginning of frame4 pole and canoe <DONE> */
.canoe4{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 3px;
  right: 21px;
}
.pole4{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag4{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox4{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 152px;
  right: 128px;
}
/* end of frame 4 pole and canoe */
/* beginning of frame 5 pole and canoe */
.canoe5{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 4px;
  right: 28px;

}
.pole5{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag5{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox5{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 153px;
  right: 135px;
}
/* end of frame 5 pole and canoe */
/* beginning of frame 6 pole and canoe */
.canoe6{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 5px;
  right: 35px;

}
.pole6{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag6{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox6{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 154px;
  right: 142px;
}
/* end of frame 6 pole and canoe */
/* beginning of frame 7 pole and canoe */
.canoe7{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 6px;
  right: 42px;

}
.pole7{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag7{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox7{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 155px;
  right: 149px;
}
/* end of frame 7 pole and canoe */
/* beginning of frame 8 pole and canoe */
.canoe8{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 7px;
  right: 49px;

}
.pole8{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag8{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox8{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 156px;
  right: 156px;
}
/* end of frame 8 pole and canoe */
/* beginning of frame 9 pole and canoe */
.canoe9{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 8px;
  right: 56px;

}
.pole9{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag9{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
  /* bottom +1; right +7*/
}
.flagBox9{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 157px;
  right: 163px;
}
/* end of frame 9 pole and canoe */
/* beginning of frame 10 pole and canoe */
.canoe10{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 9px;
  right: 63px;

}
.pole10{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag10{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox10{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 158px;
  right: 170px;
}
/* end of frame 10 pole and canoe */
/* beginning of frame 11 pole and canoe */
.canoe11{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 10px;
  right: 70px;

}
.pole11{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag11{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox11{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 159px;
  right: 177px;
}
/* end of frame 11 pole and canoe */
/* beginning of frame 12 pole and canoe */
.canoe12{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 11px;
  right: 77px;

}
.pole12{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag12{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox12{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 160px;
  right: 184px;
}
/* end of frame 12 pole and canoe */
/* beginning of frame 13 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe13{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 12px;
  right: 84px;

}
.pole13{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag13{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox13{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 161px;
  right: 191px;
}
/* end of frame 13 pole and canoe */
/* beginning of frame 14 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe14{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 13px;
  right: 91px;

}
.pole14{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag14{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox14{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 162px;
  right: 198px;
}
/* end of frame 14 pole and canoe */
/* beginning of frame 15 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe15{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 14px;
  right: 98px;

}
.pole15{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag15{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox15{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 163px;
  right: 205px;
}
/* end of frame 15 pole and canoe */
/* beginning of frame 16 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe16{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 15px;
  right: 105px;

}
.pole16{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag16{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox16{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 164px;
  right: 212px;
}
/* end of frame 16pole and canoe */
/* beginning of frame 17 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe17{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 16px;
  right: 112px;

}
.pole17{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag17{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox17{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 165px;
  right: 219px;
}
/* end of frame 17 pole and canoe */
/* beginning of frame 18 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe18{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 17px;
  right: 119px;

}
.pole18{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag18{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox18{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 166px;
  right: 226px;
}
/* end of frame 18 pole and canoe */
/* beginning of frame 19 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe19{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 18px;
  right: 126px;

}
.pole19{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag19{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox19{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 167px;
  right: 233px;
}
/* end of frame 19 pole and canoe */
/* beginning of frame 20 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe20{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 19px;
  right: 133px;

}
.pole20{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag20{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox20{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 168px;
  right: 240px;
}
/* end of frame 20 pole and canoe */
/* beginning of frame 21 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe21{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 20px;
  right: 140px;

}
.pole21{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag21{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox21{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 169px;
  right: 247px;
}
/* end of frame 21 pole and canoe */
