/* To be deleted after test complete */
hr {
  color: white;
  position: relative;
  margin: 0;
}
.hr1 {
  top: 448px;
}
.hr2 {
  top: 454px;
}
.hr3 {
  top: 463px;
}
.hr4 {
  top: 486px;
}
.hr5 {
  top: 536px;
}
.hr6 {
  top: 440px;
}
.hr7 {
  top: 437px;
}
.animateButton {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.animateReset {
  position: absolute;
  bottom:0;
  right: 40px;
  z-index: 10;
}
.canoeNext {
  width: 300px !important;
  height: 300px !important;
  position: absolute !important;
  bottom: 4px !important;
  right: 28px !important;
}
.poleNext{
  height: 100px !important;
  width: 5px !important;
  background-color: black !important;
  float: left !important;
}
.flagNext{
  height:40px !important;
  width: 55px !important;
  background-color: white !important;
  border: 1px solid black !important;
  float: left !important;
  margin-bottom: 60px !important;
}
.flagBoxNext{
  position: absolute !important;
  background-color: transparent !important;
  z-index: 3 !important;
  bottom: 153px !important;
  right: 135px !important;
}
/*************************************/
.picture{
  width: 100%;
  height: 100%;
}
.outerBox{
  width: 100%;
  height: 805px;
  background-color: #555555;
  clear: both;
}
.rewardBox{
  width: 1200px;
  height: 805px;
  background-image: url("../img/mountain.jpg");
  background-size: cover;
  position: relative;
  margin: 0 auto;
}
.testBox{
  height: 200px;
  width: 100%;
  clear: both;
}
.flagNumber{
  text-align: center;
  padding-top: 8px;
}
/* frame one flag/canoe placement <DONE> */
.canoe1{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;

}
.pole1{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag1{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox1{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 149px;
  right: 107px;
}
/* end of frame one */
/* beginning of frame two <DONE> */
.canoe2{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 1px;
  right: 7px;

}
.pole2{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag2{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox2{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 150px;
  right: 114px;
}
/* end of frame 2 */
/* beginning of frame 3 <DONE> */
.canoe3{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 2px;
  right: 14px;

}
.pole3{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag3{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox3{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 151px;
  right: 121px;
}
/*end of frame 3 pole and canoe*/
/* beginning of fram 4 pole and canoe <DONE> */
.canoe4{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 3px;
  right: 21px;
}
.pole4{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag4{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox4{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 152px;
  right: 128px;
}
/* end of frame 4 pole and canoe */
/* beginning of frame 5 pole and canoe */
.canoe5{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 4px;
  right: 28px;

}
.pole5{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag5{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox5{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 153px;
  right: 135px;
}
/* end of frame 5 pole and canoe */