/* To be deleted after test complete; hr=white lines */
hr {
  color: white;
  position: relative;
  margin: 0;
}
.hr1 {
  top: 448px;
}
.hr2 {
  top: 454px;
}
.hr3 {
  top: 463px;
}
.hr4 {
  top: 486px;
}
.hr5 {
  top: 536px;
}
.hr6 {
  top: 440px;
}
.hr7 {
  top: 437px;
}
.animateButton {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.animateReset {
  position: absolute;
  bottom:0;
  right: 40px;
  z-index: 10;
}
/* next section to update
the bottom and right should match the last frame add 1 to bottom and 7 to right in canoeNext***/

.canoe{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 59px;
  right: 412px;

}
.pole{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 205px;
  right: 506px;
}
/* end of frame 59 pole and canoe  add to reward amination.js frameCount*/


/*************************************/
.picture{
  width: 100%;
  height: 100%;
}
.outerBox{
  width: 100%;
  height: 805px;
  background-color: #555555;
  clear: both;
}
.rewardBox{
  width: 1200px;
  height: 805px;
  background-image: url("../img/mountain.jpg");
  background-size: cover;
  position: relative;
  margin: 0 auto;
}
.testBox{
  height: 200px;
  width: 100%;
  clear: both;
}
.flagNumber{
  text-align: center;
  padding-top: 8px;
}
/* frame one flag/canoe placement <DONE> */
.canoe1{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;

}
.pole1{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag1{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox1{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 149px;
  right: 107px;
}
/* end of frame one */
/* beginning of frame two <DONE> */
.canoe2{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 1px;
  right: 7px;

}
.pole2{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag2{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox2{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 150px;
  right: 114px;
}
/* end of frame 2 */
/* beginning of frame 3 <DONE> */
.canoe3{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 2px;
  right: 14px;

}
.pole3{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag3{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox3{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 151px;
  right: 121px;
}
/*end of frame 3 pole and canoe*/
/* beginning of frame4 pole and canoe <DONE> */
.canoe4{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 3px;
  right: 21px;
}
.pole4{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag4{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox4{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 152px;
  right: 128px;
}
/* end of frame 4 pole and canoe */
/* beginning of frame 5 pole and canoe */
.canoe5{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 4px;
  right: 28px;

}
.pole5{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag5{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox5{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 153px;
  right: 135px;
}
/* end of frame 5 pole and canoe */
/* beginning of frame 6 pole and canoe */
.canoe6{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 5px;
  right: 35px;

}
.pole6{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag6{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox6{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 154px;
  right: 142px;
}
/* end of frame 6 pole and canoe */
/* beginning of frame 7 pole and canoe */
.canoe7{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 6px;
  right: 42px;

}
.pole7{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag7{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox7{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 155px;
  right: 149px;
}
/* end of frame 7 pole and canoe */
/* beginning of frame 8 pole and canoe */
.canoe8{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 7px;
  right: 49px;

}
.pole8{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag8{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox8{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 156px;
  right: 156px;
}
/* end of frame 8 pole and canoe */
/* beginning of frame 9 pole and canoe */
.canoe9{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 8px;
  right: 56px;

}
.pole9{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag9{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
  /* bottom +1; right +7*/
}
.flagBox9{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 157px;
  right: 163px;
}
/* end of frame 9 pole and canoe */
/* beginning of frame 10 pole and canoe */
.canoe10{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 9px;
  right: 63px;

}
.pole10{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag10{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox10{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 158px;
  right: 170px;
}
/* end of frame 10 pole and canoe */
/* beginning of frame 11 pole and canoe */
.canoe11{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 10px;
  right: 70px;

}
.pole11{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag11{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox11{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 159px;
  right: 177px;
}
/* end of frame 11 pole and canoe */
/* beginning of frame 12 pole and canoe */
.canoe12{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 11px;
  right: 77px;

}
.pole12{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag12{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox12{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 160px;
  right: 184px;
}
/* end of frame 12 pole and canoe */
/* beginning of frame 13 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe13{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 12px;
  right: 84px;

}
.pole13{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag13{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox13{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 161px;
  right: 191px;
}
/* end of frame 13 pole and canoe */
/* beginning of frame 14 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe14{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 13px;
  right: 91px;

}
.pole14{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag14{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox14{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 162px;
  right: 198px;
}
/* end of frame 14 pole and canoe */
/* beginning of frame 15 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe15{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 14px;
  right: 98px;

}
.pole15{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag15{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
.flagBox15{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 163px;
  right: 205px;
}
/* end of frame 15 pole and canoe */
/* beginning of frame 16 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe16{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 15px;
  right: 105px;

}
.pole16{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag16{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox16{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 164px;
  right: 212px;
}
/* end of frame 16pole and canoe */
/* beginning of frame 17 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe17{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 16px;
  right: 112px;

}
.pole17{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag17{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox17{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 165px;
  right: 219px;
}
/* end of frame 17 pole and canoe */
/* beginning of frame 18 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe18{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 17px;
  right: 119px;

}
.pole18{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag18{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox18{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 166px;
  right: 226px;
}
/* end of frame 18 pole and canoe */
/* beginning of frame 19 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe19{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 18px;
  right: 126px;

}
.pole19{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag19{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox19{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 167px;
  right: 233px;
}
/* end of frame 19 pole and canoe */
/* beginning of frame 20 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe20{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 19px;
  right: 133px;

}
.pole20{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag20{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox20{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 168px;
  right: 240px;
}
/* end of frame 20 pole and canoe */
/* beginning of frame 21 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe21{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 20px;
  right: 140px;

}
.pole21{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag21{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox21{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 169px;
  right: 247px;
}
/* end of frame 21 pole and canoe */
/* beginning of frame 22pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe22{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 21px;
  right: 147px;

}
.pole22{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag22{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox22{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 170px;
  right: 254px;
}
/* end of frame 22 pole and canoe */
/* beginning of frame 23 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe23{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 22px;
  right: 154px;

}
.pole23{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag23{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox23{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 171px;
  right: 261px;
}
/* end of frame 23 pole and canoe */
/* beginning of frame 24 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe24{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 23px;
  right: 161px;

}
.pole24{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag24{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox24{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 172px;
  right: 268px;
}
/* end of frame 24 pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 25 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe25{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 24px;
  right: 168px;

}
.pole25{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag25{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox25{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 173px;
  right: 275px;
}
/* end of frame 25 pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 26 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe26{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 25px;
  right: 175px;

}
.pole26{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag26{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox26{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 174px;/*************************!!!!!!!*/
  right: 282px;
}
/* end of frame 26 pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 27 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe27{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 26px;
  right: 182px;

}
.pole27{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag27{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox27{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 175px;
  right: 289px;
}
/* end of frame 27pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 28 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe28{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 27px;
  right: 189px;

}
.pole28{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag28{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox28{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 176px;
  right: 296px;
}
/* end of frame 28pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 29 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe29{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 28px;
  right: 197px;

}
.pole29{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag29{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox29{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 177px;
  right: 303px;
}
/* end of frame 29pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 30 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe30{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 29px;
  right: 206px;

}
.pole30{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag30{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox30{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 178px;
  right: 310px;
}
/* end of frame 30pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 31 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe31{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 30px;
  right: 213px;

}
.pole31{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag31{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox31{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 179px;
  right: 317px;
}
/* end of frame 31pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 32 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe32{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 31px;
  right: 220px;

}
.pole32{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag32{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox32{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 180px;
  right: 324px;
}
/* end of frame 32pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 33 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe33{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 32px;
  right: 227px;

}
.pole33{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag33{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox33{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 181px;
  right: 331px;
}
/* end of frame 33pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 34 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe34{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 33px;
  right: 234px;

}
.pole34{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag34{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox34{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 182px;
  right: 338px;
}
/* end of frame 34pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 35 pole and canoe */
/* increment by 1 on bottom and 7 on right */
/**********************************************/
.canoe35{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 34px;
  right: 241px;

}
.pole35{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag35{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox35{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 183px;
  right: 345px;
}
/* end of frame 35pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 36 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe36{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 35px;
  right: 248px;

}
.pole36{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag36{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox36{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 184px;
  right: 352px;
}
/* end of frame 36 pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 37 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe37{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 36px;
  right: 255px;

}
.pole37{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag37{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox37{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 185px;
  right: 359px;
}
/* end of frame 37 pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 38 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe38{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 37px;
  right: 262px;

}
.pole38{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag38{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox38{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 186px;
  right: 366px;
}
/* end of frame 38 pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 39 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe39{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 38px;
  right: 269px;

}
.pole39{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag39{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox39{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 187px;
  right: 373px;
}
/* end of frame 39 pole and canoe  add to reward amination.js frameCount*/
/* beginning of frame 40 pole and canoe */
/* increment by 1 on bottom and 7 on right */
.canoe40{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 39px;
  right: 276px;

}
.pole40{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag40{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox40{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 188px;
  right: 380px;
}
/* end of frame 40 pole and canoe  add to reward amination.js frameCount*/
/* increment by 1 on bottom and 7 on right */
.canoe41{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 40px;
  right: 283px;

}
.pole41{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag41{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox41{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 189px;
  right: 387px;
}
/* end of frame 41 pole and canoe  add to reward amination.js frameCount
beginning of 42*/
/* increment by 1 on bottom and 7 on right */
.canoe42{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 41px;
  right: 290px;

}
.pole42{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag42{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox42{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 190px;
  right: 394px;
}
/* end of frame 42 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 43*/
/* increment by 1 on bottom and 7 on right */
.canoe43{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 42px;
  right: 297px;

}
.pole43{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag43{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox43{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 191px;
  right: 401px;
}
/* end of frame 43 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 44*/
/* increment by 1 on bottom and 7 on right */
.canoe44{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 43px;
  right: 304px;

}
.pole44{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag44{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox44{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 192px;
  right: 408px;
}
/* end of frame 44pole and canoe  add to reward amination.js frameCount*/
/* beginning of 45*/
/* increment by 1 on bottom and 7 on right */
.canoe45{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 44px;
  right: 311px;

}
.pole45{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag45{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox45{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 193px;
  right: 415px;
}
/* end of frame 45pole and canoe  add to reward amination.js frameCount*/
/* beginning of 46*/
/* increment by 1 on bottom and 7 on right */
.canoe46{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 45px;
  right: 318px;

}
.pole46{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag46{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox46{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 194px;
  right: 422px;
}
/* end of frame 46pole and canoe  add to reward amination.js frameCount*/
/* beginning of 47*/
/* increment by 1 on bottom and 7 on right */
.canoe47{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 46px;
  right: 325px;

}
.pole47{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag47{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox47{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 195px;
  right: 429px;
}
/* end of frame 47pole and canoe  add to reward amination.js frameCount*/
/* beginning of 48*/
/* increment by 1 on bottom and 7 on right */
.canoe48{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 47px;
  right: 332px;

}
.pole48{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag48{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox48{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 196px;
  right: 436px;
}
/* end of frame 48pole and canoe  add to reward amination.js frameCount*/
/* beginning of 49*/
/* increment by 1 on bottom and 7 on right */
.canoe49{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 48px;
  right: 339px;

}
.pole49{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag49{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox49{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 197px;
  right: 443px;
}
/* end of frame 49pole and canoe  add to reward amination.js frameCount*/
/* beginning of 50*/
/* increment by 1 on bottom and 7 on right */
.canoe50{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 49px;
  right: 346px;

}
.pole50{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag50{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox50{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 198px;
  right: 450px;
}
/* end of frame 50pole and canoe  add to reward amination.js frameCount*/
/* beginning of 51*/
/* increment by 1 on bottom and 7 on right */
.canoe51{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 50px;
  right: 353px;

}
.pole51{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag51{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox51{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 199px;
  right: 457px;
}
/* end of frame 51pole and canoe  add to reward amination.js frameCount*/
/* beginning of 52*/
/* increment by 1 on bottom and 7 on right */
/*  increment by 1 iAnime line 23*/
.canoe52{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 51px;
  right: 360px;

}
.pole52{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag52{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox52{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 199px;
  right: 464px;
}
/* end of frame 52pole and canoe  add to reward amination.js frameCount*/
/* beginning of 53*/
/* increment by 1 on bottom and 7 on right */
/*  increment by 1 iAnime line 23*/
.canoe53{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 52px;
  right: 367px;

}
.pole53{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag53{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox53{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 200px;
  right: 471px;
}
/* end of frame 53pole and canoe  add to reward amination.js frameCount*/
/* beginning of 54*/
/* increment by 1 on bottom and 7 on right */
/*  increment by 1 iAnime line 23*/
.canoe54{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 53px;
  right: 374px;

}
.pole54{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag54{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox54{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 201px;
  right: 478px;
}
/* end of frame 54pole and canoe  add to reward amination.js frameCount*/
/* beginning of 55*/
/* increment by 1 on bottom and 7 on right */
/*  increment by 1 iAnime line 23*/
.canoe55{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 54px;
  right: 381px;

}
.pole55{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag55{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox55{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 202px;
  right: 485px;
}
/* end of frame 55pole and canoe  add to reward amination.js frameCount*/
/* beginning of 56*/
/* increment by 1 on bottom and 7 on right */
/*  increment by 1 iAnime line 23*/
.canoe56{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 55px;
  right: 388px;

}
.pole56{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag56{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox56{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 203px;
  right: 492px;
}
/* end of frame 56pole and canoe  add to reward amination.js frameCount*/
/* beginning of 57*/
/* increment by 1 on bottom and 7 on right */
/*  increment by 1 iAnime line 23*/
.canoe57{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 56px;
  right: 395px;

}
.pole57{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag57{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox57{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 204px;
  right: 499px;
}
/* end of frame 57pole and canoe  add to reward amination.js frameCount*/










/* beginning of 58*/
/* increment by 1 on bottom and 7 on right */
/* change canoe image to canoe-three */
.canoe58{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 58px;
  right: 405px;
}
.pole58{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag58{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox58{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 204px;
  right: 499px;
}
/* end of frame 58 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 59*/
/* increment by 1 on bottom and 7 on right */
/* change canoe image to canoe-three */
.canoe59{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 58px;
  right: 405px;

}
.pole59{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag59{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox59{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 204px;
  right: 499px;
}
/* end of frame 59 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 60*/
/* increment by 1 on bottom and 7 on right */
/* change canoe image to canoe-three; after canoe stra*/
.canoe60{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 59px;
  right: 405px;

}
.pole60{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag60{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 1 to bottom and 7 to right */
.flagBox60{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 205px;
  right: 499px;
}
/* end of frame 59 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 61*/
/* increment by 4 on bottom*/
.canoe61{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 63px;
  right: 405px;

}
.pole61{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag61{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox61{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 209px;
  right: 499px;
}
/* end of frame 61 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 62*/
/* increment by 4 on bottom*/
.canoe62{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 67px;
  right: 405px;

}
.pole62{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag62{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox62{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 213px;
  right: 499px;
}
/* end of frame 62 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 63*/
/* increment by 4 on bottom*/
.canoe63{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 71px;
  right: 405px;

}
.pole63{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag63{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox63{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 217px;
  right: 499px;
}
/* end of frame 63 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 64*/
/* increment by 4 on bottom*/
.canoe64{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 75px;
  right: 405px;

}
.pole64{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag64{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox64{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 221px;
  right: 499px;
}
/* end of frame 64 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 65*/
/* increment by 4 on bottom*/
.canoe65{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 79px;
  right: 405px;

}
.pole65{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag65{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox65{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 225px;
  right: 499px;
}
/* end of frame 65 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 66*/
/* increment by 4 on bottom*/
.canoe66{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 83px;
  right: 405px;

}
.pole66{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag66{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox66{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 229px;
  right: 499px;
}
/* end of frame 66 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 67*/
/* increment by 4 on bottom*/
.canoe67{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 87px;
  right: 405px;

}
.pole67{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag67{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox67{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 233px;
  right: 499px;
}
/* end of frame 67 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 68*/
/* increment by 4 on bottom*/
.canoe68{
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 91px;
  right: 405px;

}
.pole68{
  height: 100px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag68{
  height:40px;
  width: 55px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox68{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 237px;
  right: 499px;
}
/* end of frame 68 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 69*/
/* increment by 4 on bottom*/
.canoe69{
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 95px;
  right: 410px;

}
.pole69{
  height: 96px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag69{
  height:38px;
  width: 53px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox69{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 234px;
  right: 500px;
}
/* end of frame 69 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 70*/
/* increment by 4 on bottom*/
.canoe70{
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 99px;
  right: 410px;

}
.pole70{
  height: 96px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag70{
  height:38px;
  width: 53px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox70{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 238px;
  right: 500px;
}
/* end of frame 70 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 71*/
/* increment by 4 on bottom*/
.canoe71{
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 103px;
  right: 410px;

}
.pole71{
  height: 96px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag71{
  height:38px;
  width: 53px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox71{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 242px;
  right: 500px;
}
/* end of frame 71 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 72*/
/* increment by 4 on bottom*/
.canoe72{
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 107px;
  right: 410px;

}
.pole72{
  height: 96px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag72{
  height:38px;
  width: 53px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox72{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 246px;
  right: 500px;
}
/* end of frame 72 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 73*/
/* increment by 4 on bottom*/
.canoe73{
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 110px;
  right: 410px;

}
.pole73{
  height: 96px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag73{
  height:38px;
  width: 53px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox73{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 250px;
  right: 500px;
}
/* end of frame 73 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 74*/
/* increment by 4 on bottom*/
.canoe74{
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 114px;
  right: 410px;

}
.pole74{
  height: 96px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag74{
  height:38px;
  width: 53px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox74{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 254px;
  right: 500px;
}
/* end of frame 74 pole and canoe  add to reward amination.js frameCount*/
/* beginning of 75*/
/* increment by 4 on bottom*/
.canoe75{
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 118px;
  right: 410px;

}
.pole75{
  height: 96px;
  width: 5px;
  background-color: black;
  float: left;
}
.flag75{
  height:38px;
  width: 53px;
  background-color: white;
  border: 1px solid black;
  float: left;
  margin-bottom: 60px;
}
/* add 4 to bottom */
.flagBox75{
  position: absolute;
  background-color: transparent;
  z-index: 3;
  bottom: 258px;
  right: 500px;
}
/* end of frame 75 pole and canoe  add to reward amination.js frameCount*/
